.card {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .card {
    width: 100%;
  }

  .container {
    width:50%;
  }

  .btnLoadMore {
    width:100%;
  }

  #feel-lucky-card {
    width: 100%;
  }
}

#feel-lucky-card {
  width: 30%;
  margin: auto;
}

.container {
  text-align: center;
  margin-top:2%;
}

.btnLoadMore {
  width:15%;
}

.links {
  color: black;
  text-decoration: inherit;
}

.navbar {
  background-image: linear-gradient(to bottom, #0ba360 0%, #3cba92 100%);
}
